{
    email {$ACME_EMAIL:admin@example.com}
}

{$SITE_ADDRESS::80} {
    encode gzip zstd

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /sanctum/* {
        reverse_proxy backend:8080
    }

    handle {
        reverse_proxy frontend:80
    }
}